.game-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.game-map {
  width: 1656px;
  height: 1010px;
  position: relative;
}

.game-map > img {
  width: 100%;
  height: 100%;
}

.popup {
  display: none;
  position: absolute;
  width: 876px;
  height: 588px;
  background: white;
  border: 4px solid black;
  border-radius: 57px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.popup .header {
  background: #FBCB2F;
  height: 99px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  color: #FFFFFF;
}

.popup-button {
  width: 214px;
  height: 58px;
  padding: 7px 21px;
  opacity: 1;
  border-radius: 52px;
  border-width: 4px;
  border-color: #FFFFFF;
  box-shadow: 0 4px 20px 0 #9B9B9B85;
  font-size: 40px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #FBCB2F 0%, #FF9D3E 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.popup .footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}



.interface-button {
  width: 124px;
  height: 40px;
  padding: 7px 21px;
  border-radius: 52px;
  border-width: 3px;
  border-color: #ffffff;
  background: linear-gradient(90deg, #FF9D3E 0%, #F95610 100%);
  color: #ffffff;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  top: 39px;
}

.back-button {
  gap: 7px;
  left: 63px;
}

.back-button > svg {
  flex-shrink: 0;
}

.back-button > span {
  margin-top: -2px;
}

.coin-button {
  right: 63px;
}

.coin-button .text {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  line-height: 100%;
  text-align: center;
  padding-right: 15px;
}

.coin-button .bigger {
  font-size: 25px;
  position: relative;
  left: -1px
}

.coin-button .smaller {
  position: relative;
  font-size: 20px;
  top: 2px;
  left: 1px;
}

.coin-button > svg {
  margin-left: 10px;
  flex-shrink: 0;
  position: absolute;
  right: 15px;
}

